<!doctype html>
<html lang="pt-BR" ng-app="App">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="vendor/angular-material.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body layout="column" ng-controller="MainCtrl as mainVm">
    <md-list>
        <md-list-item ng-repeat="track in mainVm.tracks" ng-class="{'running-track':track.running}">
            <my-track model="track" layout="row" layout-align="center center" flex>
                <track-head layout="column" layout-align="center center" layout-padding layout-margin>
                    <button-play-pause on-click="mainVm.playPause(track)" show-play="{{!track.running || track.paused}}" show-pause="{{track.running && !track.paused}}">&lt;button-play-pause/&gt;</button-play-pause>
                    <button-stop on-click="mainVm.stop(track)" my-disabled="{{!track.running}}">&lt;button-stop/&gt;</button-stop>
                </track-head>
                <button-add ng-if="!track.running" on-click="mainVm.addStep(track, 0)">&lt;button-add/&gt;</button-add>
                <step model="step" ng-repeat="step in track.steps" layout="row" layout-align="center center">
                    <button-forward ng-if="!$first && track.running" ng-click="mainVm.forwardStep(track, $index)" my-disabled="{{!track.steps[$index-1].running}}"></button-forward>
                    <md-whiteframe ng-class="{'md-whiteframe-z5':step.running,'md-whiteframe-z1':!step.running}" layout="column" layout-align="center start" layout-margin layout-padding flex>
                        <div layout="row" layout-align="start center">
                            <step-temperature style="margin-right:.5em;">
                                <input-temperature model="step.temperature" track-running="track.running">temperature: {{step.temperature}}</input-temperature>
                                <step-temperature-display ng-show="track.running && step.run.curr_temp">
                                    {{step.running?'Now':'Last'}}: {{step.run.curr_temp|number:1}}{{step.run.curr_temp?' ºC':'-'}}
                                </step-temperature-display>
                                <progress-temperature ng-if="track.running && step.temperature" step-temperature="{{step.temperature}}" init-time="{{step.run.init_time}}" init-temp="{{step.run.init_temp}}" curr-temp="{{step.run.curr_temp}}"></progress-temperature>
                            </step-temperature>
                            <step-time style="margin-right:1em;">
                                <input-time model="step.time" track-running="track.running">time: {{step.time}}</input-time>
                                <timer-display ng-show="track.running && step.run.curr_time">{{step.running?'Now':'Last'}}: {{step.run.curr_time| secondsToDateTime | date:'HH:mm:ss'}}</timer-display>
                                <button-start-boil ng-if="step.running && step.time && !step.temperature" on-click="mainVm.startBoil(track, $index)" my-disabled="{{step.run.timer !== null}}"></button-start-boil>
                            </step-time>
                            <button-remove on-click="mainVm.delStep(track, $index)">&lt;button-remove/&gt;</button-remove>
                        </div>
                        <step-alarms alarms="step.alarms" alarmed-alarms="step.run.alarmed" readonly="{{track.running}}" layout="column" layout-fill>alarms: {{step.alarms}}</step-alarms>
                    </md-whiteframe>
                    <button-add ng-if="!track.running" on-click="mainVm.addStep(track, $index+1)">&lt;button-add/&gt;</button-add>
                    <button-finish ng-if="$last && track.running" on-click="mainVm.finish(track)" my-disabled="{{!step.running}}">&lt;button-finish/&gt;</button-finish>
                </step>
                <div style="margin-left:auto;margin-right:1em;">
                    Input simulation
                    <md-input-container>
                        <label>Temperature</label>
                        <input type="number" ng-model="track.mock_temperature" min="0" max="99.9" maxlength="4" style="width:2em;">
                    </md-input-container>
                </div>
            </my-track>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <audio src="beep.mp3">
        <p>Seu navegador não suporta o elemento audio </p>
    </audio>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-animate.min.js"></script>
    <script src="vendor/angular-aria.min.js"></script>
    <script src="vendor/angular-material.min.js"></script>
    <script src="vendor/angular-material-icons.min.js"></script>
    <script src="vendor/angular-locale_pt-br.js"></script>
    <script src="vendor/masks.js"></script>
    <script src="app/app.js"></script>
    <script src="app/main.ctrl.js"></script>
    <script src="app/data.srv.js"></script>
    <script src="app/arduino.service.js"></script>
    <script src="app/timer.service.js"></script>
    <script src="app/button-base.drv.js"></script>
    <script src="app/button-icon.drv.js"></script>
    <script src="app/track/track.drv.js"></script>
    <script src="app/track/track.srv.js"></script>
    <script src="app/track/track-head.drv.js"></script>
    <script src="app/track/button-add.drv.js"></script>
    <script src="app/track/button-finish.drv.js"></script>
    <script src="app/track/button-forward.drv.js"></script>
    <script src="app/track/button-play-pause.drv.js"></script>
    <script src="app/track/button-stop.drv.js"></script>
    <script src="app/track/alarms/alarm.srv.js"></script>
    <script src="app/track/alarms/toast-queue.srv.js"></script>
    <script src="app/step/step.drv.js"></script>
    <script src="app/step/step-alarm.drv.js"></script>
    <script src="app/step/step-alarms.drv.js"></script>
    <script src="app/step/input-temperature.drv.js"></script>
    <script src="app/step/input-time.drv.js"></script>
    <script src="app/step/progress-temperature.drv.js"></script>
    <script src="app/step/button-remove.drv.js"></script>
    <script src="app/step/button-start-boil.drv.js"></script>
</body>

</html>
