body {
    font-size: 85%;
}

md-list-item {
    padding: 0 !important;
}

track-head {
    border-right: 1px solid;
    border-color: #ddd;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1;
}

step {
    margin-left: 8px;
}

step-temperature-display,
timer-display {
    position: absolute;
    bottom: 2px;
    margin-left: 2px;
    padding-right: 0;
    font-size: 12px;
    line-height: 24px;
    color: rgb(244, 67, 54);
}

.running-track {
    background-color: rgba(240, 240, 240, .9);
}

md-whiteframe {
    position: relative;
    max-width: 290px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1;
}

md-input-container>input {
    font-size: 3em;
    color: #444!important;
    text-align: right;
}

step-temperature,
step-time {
    position: relative;
}

label {
    color: rgba(0, 0, 0, 0.54);
}

md-chips input {
    width: 1em;
}

md-chip {
    margin-right: 4px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    height: 24px !important;
    line-height: 24px !important;
}

md-chip-template .md-caption {
    font-size: 10px;
    letter-spacing: 0;
}

.md-chip-remove {
    height: 24px !important;
}

.running-track md-chip.alarmed {
    background-color: lightcoral;
}

.md-chip-content {
    padding-right: 0 !important;
}

.md-chip-remove {
    width: 22px!important;
}

.md-button.md-icon-button.md-focused {
    background-color: lightgray!important;
}

button-add button,
button-finish button {
    margin-left: -24px !important;
    margin-right: -32px !important;
}

button-forward button {
    margin-left: -32px !important;
    margin-right: -24px !important;
}

button-finish .md-button.md-fab,
button-forward .md-button.md-fab {
    z-index: 2;
}

.md-button.md-fab {
    z-index: 0;
}

.md-button[disabled="disabled"] {
    z-index: 0 !important;
}

.md-button.md-focused {
    z-index: 2;
}
